<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>길환이의 환전소</title>
</head>
<body>
    <h1>환율 계산</h1>
    <form th:action="@{/exchange}" method="post">
        <div>
            송금국가: 미국(USD)
        </div>
        <div>
            수취국가:
            <select name="destination" onchange="updateRate()">
                <option th:each="dest: ${T(kr.sooragenius.toy.changer.enums.CurrencyType).getExchangeableCurrencyType()}"
                        th:value="${dest.name}"
                        th:text="${dest.getTitle()}"
                        th:selected="${dest == exchangeResult.getDestination()}"
                >
                </option>
            </select>

        </div>
        <div>
            환율: <span id="rate" th:text="${exchangeResult.getRate()}"></span>
        </div>
        <div>
            송금액: <input type="text" name="amount" th:value="${exchangeResult.getAmount()}">
        </div>
        <div>
            수취금액은 [[ ${exchangeResult.getReceivableAmountPretty()} ]] [[ ${exchangeResult.getDestination().name()} ]] 입니다.
        </div>
        <input type="submit" value="돈 건네기">
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        updateRate();

        function updateRate() {
            var destination = $("[name=destination]").val();
            $.ajax({
                url: "/currency-rate?source=USD&destination=" + destination,
                success : function(data) {
                    $("#rate").text(data.ratePretty);
                }
            })
        }
    </script>
</body>
</html>