<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>길환이의 환전소</title>
</head>
<body>
    <h1>환율 계산</h1>
    <div>
        송금국가: 미국(USD)
    </div>
    <div>
        수취국가:
        <select name="destination" onchange="updateRate()">
            <option th:each="dest: ${T(kr.sooragenius.toy.changer.enums.CurrencyType).getExchangeableCurrencyType()}"
                    th:value="${dest.name}"
                    th:text="${dest.getTitle()}">
            </option>
        </select>

    </div>
    <div>
        환율: <span id="rate"></span>
    </div>
    <div>
        송금액: <input type="text" name="amount">
    </div>
    <input type="submit" value="돈 건네기">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        updateRate();

        function updateRate() {
            var destination = $("[name=destination]").val();
            $.ajax({
                url: "/currency-rate?source=USD&destination=" + destination,
                success : function(data) {
                    $("#rate").text(data.rate);
                }
            })
        }
    </script>
</body>
</html>